.modal {
    width: 300px;
    background-color: rgb(12,12,12) !important;
}
.modal-content{
    width: 300px;
    background-color: rgb(12,12,12) !important;
}

li:hover   {
    background-color: rgba(63,220,237,255) !important;
}

.list-group-item{
    background-color: rgb(12,12,12) !important;
    color: white;
}
body{
    color: white;
}
.modal-header{
    border-style: none;

}
.modal-footer{
    border-style: none;
}
.btn-close{
    background-color: rgba(255, 255, 255, 0.459);
    margin-top: -30% !important;
    
}
.btn-close:hover{
    background-color: rgba(63,220,237,255) !important;
}
.btn{
    background-color: rgba(255, 255, 255, 0.250) !important;
    color:black;
    border-style: none;
}
.list-group-item{
    cursor: pointer;
    margin-bottom: 15%;
    font-size: larger;
    background-color: rgb(12,12,12) !important;
}
.container-fluid{
    background-color: rgb(12,12,12) !important;
}
.navbar{
    background-color: rgb(12,12,12) !important;
}
.logos{
    padding-bottom: 5px;
}
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: white
}



